<div class="footer-container">
  <button class="win10-tile start" 
          (click)="iniciar()" 
          [disabled]="!buttonsState['start']"
          [ngClass]="{'disabled-btn': !buttonsState['start']}">
    <i class="fas fa-play"></i> Início
  </button>
  <button class="win10-tile stop" 
          (click)="terminar()" 
          [disabled]="!buttonsState['stop']"
          [ngClass]="{'disabled-btn': !buttonsState['stop']}">
    <i class="fas fa-stop"></i> Término
  </button>
  <button class="win10-tile alert" 
          (click)="avarias()" 
          [disabled]="!buttonsState['alert']"
          [ngClass]="{'disabled-btn': !buttonsState['alert']}">
    <i class="fas fa-exclamation-triangle"></i> Avarias
  </button>
  <button class="win10-tile clear" 
          (click)="limpar()" 
          [disabled]="!buttonsState['clear']"
          [ngClass]="{'disabled-btn': !buttonsState['clear']}">
    <i class="fas fa-eraser"></i> Limpar
  </button>
  <button class="win10-tile exit" 
          (click)="sair()" 
          [disabled]="!buttonsState['exit']"
          [ngClass]="{'disabled-btn': !buttonsState['exit']}">
    <i class="fas fa-sign-out-alt"></i> Sair
  </button>
  <button class="win10-tile save" 
          (click)="gravar()" 
          [disabled]="!buttonsState['save']"
          [ngClass]="{'disabled-btn': !buttonsState['save']}">
    <i class="fas fa-save"></i> Gravar
  </button>
  <button class="win10-tile delete" 
          (click)="excluir()" 
          [disabled]="!buttonsState['delete']"
          [ngClass]="{'disabled-btn': !buttonsState['delete']}">
    <i class="fas fa-trash-alt"></i> Excluir
  </button>
  <button class="win10-tile photo" 
          (click)="fotosContainer()" 
          [disabled]="!buttonsState['photo']"
          [ngClass]="{'disabled-btn': !buttonsState['photo']}">
    <i class="fas fa-camera"></i> Fotos
  </button>
</div>
