
        <div class="card">
            <div class="modal-body">
                <div class="row align-items-center">
                    <div class="col-lg-12 d-flex align-items-center">
                        <h4 style="font-weight: 100">Registrar Saida Caminhão</h4>
                    </div>
                </div>
                <form [formGroup]="form">
                    <div class="row mb-3">
                
                        <div class="col-3">
                            <label for="protocolo">Protocolo</label>
                            <input id="protocolo" type="text" class="form-control"
                                formControlName="protocolo">
                        </div>
                        <div class="col-3">
                            <label for="placa">Placa</label>
                            <input id="placa" type="text" class="form-control" formControlName="placa">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="ticketEntrada">Ticket entrada</label>
                            <input id="ticketEntrada" type="text" class="form-control" formControlName="ticketEntrada">
                        </div>
                        <div class="col-3">
                            <label for="pesoBruto">Peso bruto</label>
                            <input id="pesoBruto" type="text" class="form-control" formControlName="pesoBruto">
                        </div>
                        
                    </div>
                    <!-- Botões -->

                </form>

                <div class="row">
                    <div class="col text-end">
                        <button type="button" class="btn btn-primary me-2"
                            (click)="RegitrarSaida()">RegistrarSaida</button>
                    </div>
                </div>

            </div>
        </div>