<div class="modal-header">
    <h4 class="modal-title">📸 Capturar Foto</h4>
    <div>
        <select class="form-control" [ngClass]="{'is-invalid': !tipoSelecionado}"
            (change)="onTipoSelecionado($any($event.target).value)">
            <option value disabled selected>Selecione o tipo de foto</option>
            <option *ngFor="let item of types" [value]="item.name">{{ item.name }}</option>
        </select>
        <div *ngIf="!tipoSelecionado" class="invalid-feedback">Por favor, selecione um tipo de foto.</div>
     </div>
</div>

<div class="modal-body camera-modal-container">
    <video #videoElement autoplay></video>
</div>

<div class="modal-footer">
    <button class="btn btn-success" (click)="capturarFoto()" [disabled]="!tipoSelecionado">📸 Capturar</button>
    <button class="btn btn-danger" (click)="fecharCamera()">❌ Fechar</button>
</div>

<!-- Canvas oculto para processar a imagem -->
<canvas #canvasElement hidden></canvas>
