<app-page-title [breadcrumbItems]="pageTitle" title=""></app-page-title>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-12 d-flex align-items-center">
                        <h4 style="font-weight: 100">Descarga Exportação</h4>
                    </div>
                </div>
                <form [formGroup]="form">
                    <!-- Row 1 -->
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="id">Registro</label>
                            <input id="id" type="text" class="form-control" formControlName="id">
                        </div>
                        <div class="col-3 position-relative">
                            <label for="inicio">Início</label>
                            <div class="input-group">
                                <input id="inicio" class="form-control" placeholder="dd/mm/aaaa" ngbDatepicker
                                    #d1="ngbDatepicker" appNgbDatepickerPt formControlName="inicio">
                                <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                                <button class="btn btn-outline-danger" *ngIf="form.controls['inicio'].value"
                                    (click)="limparData('inicio')" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <ng-template #footerTemplate>
                                <div class="d-flex justify-content-end p-2">
                                    <button class="btn btn-sm btn-danger" (click)="limparData('inicio')">Limpar
                                        Data</button>
                                </div>
                            </ng-template>
                        </div>

                        <div class="col-3 position-relative">
                            <label for="termino">Término</label>
                            <div class="input-group">
                                <input id="termino" class="form-control" placeholder="dd/mm/aaaa" ngbDatepicker
                                    #d2="ngbDatepicker" appNgbDatepickerPt formControlName="termino">
                                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                                <button class="btn btn-outline-danger" *ngIf="form.controls['termino'].value"
                                    (click)="limparData('termino')" type="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <ng-template #footerTemplate>
                                <div class="d-flex justify-content-end p-2">
                                    <button class="btn btn-sm btn-danger" (click)="limparData('termino')">Limpar
                                        Data</button>
                                </div>
                            </ng-template>
                        </div>
                        <div class="col-3">
                            <label for="talie">Talie</label>
                            <input id="talie" type="text" class="form-control" formControlName="talie">
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="placa">Placa</label>
                            <input id="placa" type="text" class="form-control" formControlName="placa">
                        </div>
                        <div class="col-3">
                            <label for="reserva">Reserva</label>
                            <input id="reserva" type="text" class="form-control" formControlName="reserva">
                        </div>
                        <div class="col-3">
                            <label for="cliente">Cliente</label>
                            <input id="cliente" type="text" class="form-control" formControlName="cliente">
                        </div>
                    </div>

                    <!-- Row 3 -->
                    <div class="row mb-3">
                        <div class="col-4">
                            <label for="conferente">Conferente</label>
                            <input id="conferente" type="text" class="form-control" formControlName="conferente">
                        </div>
                        <div class="col-4">
                            <app-microled-select label="Selecione a Equipe" [items]="listEquipes"
                                [control]="equipeControl" (selectionChange)="onSelectChange($event)">
                            </app-microled-select>
                        </div>
                        <div class="col-4">
                            <app-microled-select label="Selecione a Operação" [items]="listOperacoes"
                                [control]="operacaoControl" (selectionChange)="onSelectChange($event)">
                            </app-microled-select>
                        </div>
                    </div>
                    <app-advanced-table #advancedTable (handleTableLoad)="handleTableLoad($event)"
                        [tableData]="itensList" [columns]="columns" [pagination]="true" [hasRowSelection]="false"
                        [isSearchable]="false" (search)="''" [isSortable]="false" tableClasses="table-centered"
                        theadClasses="table-light">
                    </app-advanced-table>

                    <!-- Botões -->
                    <div class="row">
                        <div class="col text-end">
                            <button type="button" class="btn btn-primary me-2"
                                (click)="buscarRegistro(101010)">Buscar</button>
                            <button type="button" class="btn btn-secondary" (click)="limpar()">Limpar</button>
                        </div>
                    </div>
                </form>
            </div>
            <app-action-footer [buttonsState]="footerButtonsState" (saveEvent)="gravarDescarga()" (startEvent)="''"
                (cleanupEvent)="limpar()" (avariasEvent)="getModalAvaria()" (observacaoEvent)="abrirModal(observacaoModal)"
                (marcanteEvent)="abrirModalMarcante(marcanteModal)"
                (photoEvent)="abrirModalFotos()"></app-action-footer>
        </div>
    </div>
</div>

<!-- Template da Modal Observacao -->
<ng-template #observacaoModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Adicionar Observação</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="observacaoForm">
            <div class="mb-3">
                <label for="observacao" class="form-label">Observação:</label>
                <textarea id="observacao" class="form-control" rows="8" formControlName="observacao"></textarea>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="salvarObservacao(); modal.close()">Salvar</button>
    </div>
</ng-template>

<!-- Template da Modal Marcante-->
<ng-template #marcanteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Adicionar Marcante</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="marcanteForm">
            <div class="row">
                <!-- Marcante -->
                <div class="col-3">
                    <label for="marcante" class="form-label">Marcante:</label>
                    <input type="text" id="marcante" class="form-control" formControlName="marcante">
                </div>

                <!-- Quantidade -->
                <div class="col-3">
                    <label for="quantidade" class="form-label">Quantidade:</label>
                    <input type="number" id="quantidade" class="form-control" formControlName="quantidade">
                </div>

                <!-- Armazém -->
                <div class="col-3">
                    <label for="armazem" class="form-label">Armazém:</label>
                    <select id="armazem" class="form-select" formControlName="armazem">
                        <option value="">Selecione</option>
                        <option *ngFor="let arm of armazens" [value]="arm.id">{{ arm.nome }}</option>
                    </select>
                </div>

                <!-- Local -->
                <div class="col-3">
                    <label for="local" class="form-label">Local:</label>
                    <input type="text" id="local" class="form-control" formControlName="local">
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="salvarMarcante(); modal.close()">Salvar</button>
    </div>
</ng-template>

<!-- Modal de Edição de Item -->
<ng-template #editItemModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar Item</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editItemForm">
            <div class="row">
                <div class="col-3">
                    <label>Nota Fiscal</label>
                    <input type="text" class="form-control" formControlName="notaFiscal">
                </div>
                <div class="col-3">
                    <label>Quantidade</label>
                    <input type="text" class="form-control" formControlName="quantidadeDescarga">
                </div>
                <div class="col-3">
                    <label>Cod. Embalagem</label>
                    <input type="text" class="form-control" formControlName="codigoEmbalagem">
                </div>
                <div class="col-3">
                    <label>Desc. Embalagem</label>
                    <input type="text" class="form-control" formControlName="embalagem">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    <label>Comprimento</label>
                    <input type="text" class="form-control" formControlName="comprimento">
                </div>
                <div class="col-2">
                    <label>Largura</label>
                    <input type="text" class="form-control" formControlName="largura">
                </div>
                <div class="col-2">
                    <label>Altura</label>
                    <input type="text" class="form-control" formControlName="altura">
                </div>
                <div class="col-1 form-check">
                    <input type="checkbox" class="form-check-input" formControlName="madeira">
                    <label class="form-check-label">Madeira</label>
                </div>
                <div class="col-1 form-check">
                    <input type="checkbox" class="form-check-input" formControlName="fragil">
                    <label class="form-check-label">Frágil</label>
                </div>
                <div class="col-1 form-check">
                    <input type="checkbox" class="form-check-input" formControlName="numerada">
                    <label class="form-check-label">Numerada</label>
                </div>
                <div class="col-1 form-check">
                    <input type="checkbox" class="form-check-input" formControlName="carimbo">
                    <label class="form-check-label">Carimbo</label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-3">
                    <label>Peso</label>
                    <input type="text" class="form-control" formControlName="peso">
                </div>
                <div class="col-3">
                    <label>IMO</label>
                    <input type="text" class="form-control" formControlName="imo">
                </div>
                <div class="col-2">
                    <label>-</label>
                    <input type="text" class="form-control" formControlName="imo2">
                </div>
                <div class="col-2">
                    <label>-</label>
                    <input type="text" class="form-control" formControlName="imo3">
                </div>
                <div class="col-2">
                    <label>-</label>
                    <input type="text" class="form-control" formControlName="imo4">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-3">
                    <label>UNO</label>
                    <input type="text" class="form-control" formControlName="uno">
                </div>
                <div class="col-3">
                    <label>-</label>
                    <input type="text" class="form-control" formControlName="uno2">
                </div>
                <div class="col-3">
                    <label>-</label>
                    <input type="text" class="form-control" formControlName="uno3">
                </div>
                <div class="col-3">
                    <label>-</label>
                    <input type="text" class="form-control" formControlName="uno4">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-3">
                    <label>Fumigação</label>
                    <input type="text" class="form-control" formControlName="fumigacao">
                </div>
                <div class="col-2 form-check">
                    <input type="checkbox" class="form-check-input" formControlName="remonte">
                    <label class="form-check-label">Remonte</label>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <label>Observação</label>
                    <textarea class="form-control" rows="5" formControlName="observacao"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.dismiss()">Fechar</button>
        <button class="btn btn-primary" (click)="salvarAlteracoes(modal)">Salvar Alterações</button>
    </div>
</ng-template>