<!-- <div class="row">
    <div *ngFor="let tool of tools" class="col-md-4 mt-3">
        <div class="tool-card">
            <h4>{{tool.title}}</h4>
            <p>{{tool.description}}</p>
            <div class="tool-card-footer">
                <div class="tool-access">
                    <span><i class="fas fa-edit"></i> <a *ngIf="tool.link" [href]="tool.link"
                           class="tool-access" target="_self">Acessar</a></span>
                </div>
                <span class="tool-version"><strong>Versão:</strong> {{tool.version}}</span>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <div *ngFor="let tool of tools" class="col-md-4 mt-3">
        <a *ngIf="tool.link" [href]="tool.link" target="_self" class="tool-card metro-tile">
            <h4>{{ tool.title }}</h4>
            <p>{{ tool.description }}</p>
            <div class="tool-card-footer">
                <span class="tool-version"><strong>Versão:</strong> {{ tool.version }}</span>
                <span class="tool-access"><i class="fas fa-external-link-alt"></i> Acessar</span>
            </div>
        </a>
    </div>
</div> -->
<div class="row">
    <div *ngFor="let tool of tools" class="col-6 col-md-4 col-lg-3 mt-3">

        <!-- Link ativo -->
        <a *ngIf="tool.link && !tool.isDisabled" [href]="tool.link" target="_self" class="tool-card metro-tile">
            <h4>{{ tool.title }}</h4>
            <p>{{ tool.description }}</p>
            <div class="tool-card-footer">
                <span class="tool-version"><strong>Versão:</strong> {{ tool.version }}</span>
                <span class="tool-access"><i class="fas fa-external-link-alt"></i> Acessar</span>
            </div>
        </a>

        <!-- Card desabilitado (visual alternativo) -->
        <div *ngIf="tool.isDisabled" class="tool-card metro-tile disabled-tile">
            <h4>{{ tool.title }}</h4>
            <p>{{ tool.description }}</p>
            <div class="tool-card-footer">
                <span class="tool-version"><strong>Versão:</strong> {{ tool.version }}</span>
                <span class="tool-access text-muted"><i class="fas fa-lock"></i> Indisponível</span>
            </div>
        </div>

    </div>
</div>