<app-page-title [breadcrumbItems]="pageTitle" title="Coletor Eudmarco"></app-page-title>
<div class="row">
    <div class="col-lg-4">
        <div class="card border-success border mb-3" [routerLink]="['/apps/collector/physical-conference']">
            <div class="card-header">Versão 1.0</div>
            <div class="card-body">
                <h4 class="card-title text-success">Conferência Física de Mercadorias</h4>
                <p class="card-text">Realize a conferência física das Mercadorias</p>
            </div>
        </div>
    </div>
</div>