<app-page-title [breadcrumbItems]="pageTitle" title=""></app-page-title>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3 class="fw-light">FERRAMENTAS DE APOIO BAND DEICMAR</h3>
                    </div>

                    <!-- Seletor do Pátio -->
                    <div class="col-lg-3 col-md-6 col-sm-12 mt-3 mb-3">
                        <app-microled-select label="Selecione um Pátio para liberar as ferramentas"
                            [items]="listaDePatios" [control]="patioControl" (selectionChange)="onSelectChange($event)">
                        </app-microled-select>
                    </div>

                    <!-- Cards das ferramentas -->
                    <div class="col-12">
                        <div class="row">
                            <div class="row">
                                <app-card [isDisabled]="toolsDisabled"></app-card>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>